<div class="col-lg-12 pods-page" ng-controller="PodsCtrl">
	<div class="row">
		<div class="col-lg-12 headline">
			<div class="customization">
				<div class="row">
					<div class="col-lg-12 no-padding">
						<div class="title">
							<h1>
								Pods
							</h1>
						</div>
					</div>
				</div>

				<div class="master-customization">
					<div class="row">
						<div class="col-lg-4 market">
							<h4>Market</h4>
							<div class="market-selection selection">
								<ui-select ng-model="podMarket.selected" theme="bootstrap" ng-disabled="disabled" on-select="changeMarket()">
									<ui-select-match placeholder="Market selection..."><img ng-src="assets/images/flags/{{$select.selected.flag}}" alt=""/> {{$select.selected.name}}</ui-select-match>

									<ui-select-choices repeat="market in podMarkets | filter: $select.search">
										<img ng-src="assets/images/flags/{{market.flag}}" alt=""/>{{market.name}}
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-lg-8 submit">
						</div>
					</div>
					<div class="row tabs">
						<div class="col-lg-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#mypods" data-toggle="tab" aria-expanded="true" target="_self">My Pods</a></li>
								<li class=""><a href="#searchpods" data-toggle="tab" aria-expanded="false" target="_self" ng-click="getSimpleForecasts('pending')">Search Pods</a></li>
								<li class=""><a href="#mysubscription" data-toggle="tab" aria-expanded="false" target="_self">My Subscriptions</a></li>
								<li class=""><a href="#myinfo" data-toggle="tab" aria-expanded="false" target="_self">My Info</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="pods-content" class="tab-content">
				<div class="tab-pane fade active in" id="mypods">
					<div class="row">
						<div class="col-lg-4 dashboard-element">
							<div class="row">
								<p>create income by creating a pod an attracting monthly subscribers</p>
								<h3>Create a new pod</h3>
							</div>
							<div class="row">
								<div class="col-lg-4"><div class="pod_image"><img src=""></div></div>
								<div class="col-lg-8"><button class="btn btn-primary">Upload image</button></div>
							</div>
							<div class="row">
								<div class="col-lg-4">Name:</div>
								<div class="col-lg-8"><input type="text" name="" placeholder="Pod name" class="form-control"></div>
							</div>
							<div class="row">
								<div class="col-lg-4">Description:</div>
								<div class="col-lg-8"><textarea class="form-control" placeholder="pod description"></textarea></div>
							</div>
							<div class="row">
								<div class="col-lg-4">Monthly price:</div>
								<div class="col-lg-8">
									<div class="row">
										<div class="col-lg-6">
											<select class="form-control">
												<option ng-repeat="price in prices" ng-value="price">{{price}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<a href="#" class="btn btn-success pull-right">Submit</a>
							</div>
						</div>
						<div class="col-lg-8 padding-right-0">
							<div class="row pods-elements">
								<div class="microblogs-header"></div>
								<div class="col-lg-3">
									<div class="element-wrapper">
										<div class="element" ng-mouseenter="getHoveredObject(query)">
											<div class="row body">
												<div class="col-lg-12">
													<div class="user-info-container">
														<div class="thumb-container">
															<img ng-src="/userpics/$default.png" alt="">
														</div>

														<div class="user-name">
															<h5>
																<b>MySuperPod</b>
															</h5>
														</div>
													</div>

												</div>

												<div class="col-lg-12">
													<div class="details">
														<ul>
															<li><b>accuracy:</b> 65%</li>
															<li><b>forecasts:</b> 24</li>
															<li><b>subscribers:</b> 10</li>
															<li><b>created:</b> 01/01/2016</li>
															<li><b>price:</b> $15/month</li>
														</ul>
													</div>
												</div>

												<div class="col-lg-12 center">
													<button class="btn btn-primary">More info</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="element-wrapper">
										<div class="element" ng-mouseenter="getHoveredObject(query)">
											<div class="row body">
												<div class="col-lg-12">
													<div class="user-info-container">
														<div class="thumb-container">
															<img ng-src="/userpics/$default.png" alt="">
														</div>

														<div class="user-name">
															<h5>
																<b>MySuperPod</b>
															</h5>
														</div>
													</div>

												</div>

												<div class="col-lg-12">
													<div class="details">
														<ul>
															<li><b>accuracy:</b> 65%</li>
															<li><b>forecasts:</b> 24</li>
															<li><b>subscribers:</b> 10</li>
															<li><b>created:</b> 01/01/2016</li>
															<li><b>price:</b> $15/month</li>
														</ul>
													</div>
												</div>
												<div class="col-lg-12 center">
													<button class="btn btn-primary">More info</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="element-wrapper">
										<div class="element" ng-mouseenter="getHoveredObject(query)">
											<div class="row body">
												<div class="col-lg-12">
													<div class="user-info-container">
														<div class="thumb-container">
															<img ng-src="/userpics/$default.png" alt="">
														</div>

														<div class="user-name">
															<h5>
																<b>MySuperPod</b>
															</h5>
														</div>
													</div>

												</div>

												<div class="col-lg-12">
													<div class="details">
														<ul>
															<li><b>accuracy:</b> 65%</li>
															<li><b>forecasts:</b> 24</li>
															<li><b>subscribers:</b> 10</li>
															<li><b>created:</b> 01/01/2016</li>
															<li><b>price:</b> $15/month</li>
														</ul>
													</div>
												</div>
												<div class="col-lg-12 center">
													<button class="btn btn-primary">More info</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="element-wrapper">
										<div class="element" ng-mouseenter="getHoveredObject(query)">
											<div class="row body">
												<div class="col-lg-12">
													<div class="user-info-container">
														<div class="thumb-container">
															<img ng-src="/userpics/$default.png" alt="">
														</div>

														<div class="user-name">
															<h5>
																<b>MySuperPod</b>
															</h5>
														</div>
													</div>

												</div>

												<div class="col-lg-12">
													<div class="details">
														<ul>
															<li><b>accuracy:</b> 65%</li>
															<li><b>forecasts:</b> 24</li>
															<li><b>subscribers:</b> 10</li>
															<li><b>created:</b> 01/01/2016</li>
															<li><b>price:</b> $15/month</li>
														</ul>
													</div>
												</div>
												<div class="col-lg-12 center">
													<button class="btn btn-primary">More info</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="element-wrapper">
										<div class="element" ng-mouseenter="getHoveredObject(query)">
											<div class="row body">
												<div class="col-lg-12">
													<div class="user-info-container">
														<div class="thumb-container">
															<img ng-src="/userpics/$default.png" alt="">
														</div>

														<div class="user-name">
															<h5>
																<b>MySuperPod</b>
															</h5>
														</div>
													</div>

												</div>

												<div class="col-lg-12">
													<div class="details">
														<ul>
															<li><b>accuracy:</b> 65%</li>
															<li><b>forecasts:</b> 24</li>
															<li><b>subscribers:</b> 10</li>
															<li><b>created:</b> 01/01/2016</li>
															<li><b>price:</b> $15/month</li>
														</ul>
													</div>
												</div>
												<div class="col-lg-12 center">
													<button class="btn btn-primary">More info</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<div class="user-info user-info-profile">
								<div class="dashboard-element">

									<div class="user-info-header">
										<img ng-src="/userpics/$default.png" alt="" src="/userpics/$default.png">
										<h2 class="">MySuperPod</h2>
										<h2 class="subtitle" >"The best picks curated from my research"</h2>
										<h5 class="text-left"><b>created:</b> 01/01/2016</h5>
										<h5 class="text-left"><b>accuracy:</b> 65%</h5>
										<h5 class="text-left"><b>forecasts:</b> 24</h5>
										<h5 class="text-left"><b>subscribers:</b> 10</h5>
										<h5 class="text-left"><b>price:</b> $15/month</h5>
										<h5 class="text-left"><b>gross estimate:</b> $150/month</h5>
										<h5 class="text-left"><b>status:</b> </h5>
										<h5 class="text-left"><b>pod link:</b> https://marketcrown.com/app/#/pods/greenlantern/mysuperpod/E39df3</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="dashboard-element microblogs">
								<div class="microblogs-header">
								</div>
								<div class="create-microblog">
									<form class="form-horizontal ng-pristine ng-invalid ng-invalid-required blur">
										<div class="form-group">
											<div class="col-lg-12">
												<textarea required="" class="form-control" rows="1" id="textArea" placeholder="What's on your mind?..use $symbol and #hastag"></textarea>
											</div>
										</div>
									</form>
								</div>
								<div class="filter-microblogs">
									<div class="inner">
										<div class="row-regular">
											<div class="col-lg-8"></div>
											<div class="col-lg-4">
												<button class="btn btn-success pull-right" ng-click="submitFilters()">Submit</button>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div class="microblogs-elements-feed">
									<div class="element">
										<div class="row">
											<div class="col-lg-2">
												<div class="img-container">
													<img ng-src="/userpics/$default.png">
												</div>
											</div>
											<div class="col-lg-10">
												<p class="message ng-binding">
													<strong>$TBRA</strong> was a monster today with a +720% gain based on a buyout from <strong>$AGN</strong>  <a href="http://fortune.com/2016/09/20/allergan-tobira-deal/?xid=soc_socialflow_twitter_FORTUNE" target="_blank">http://fortune.com/2016/09/20/allergan-tobira-deal/?xid=soc_socialflow_twitter_FORTUNE</a>  <strong>#insane</strong> <strong>#jetlife</strong>
												</p>
												<div class="row-regular">
							                        <div class="col-sm-6 col-lg-8">
							                            <p class="text-left author ng-binding">09/21/2016 02:34am</p>
							                        </div>
							                        <div class="col-sm-6 col-lg-4">
							                        </div>
							                        <div class="clearfix"></div>
							                    </div>
											</div>
										</div>
									</div>
									<div class="element">
										<div class="row">
											<div class="col-lg-2">
												<div class="img-container">
													<img ng-src="/userpics/$default.png">
												</div>
											</div>
											<div class="col-lg-10">
												<p class="message ng-binding">
													<strong>$TBRA</strong> was a monster today with a +720% gain based on a buyout from <strong>$AGN</strong>  <a href="http://fortune.com/2016/09/20/allergan-tobira-deal/?xid=soc_socialflow_twitter_FORTUNE" target="_blank">http://fortune.com/2016/09/20/allergan-tobira-deal/?xid=soc_socialflow_twitter_FORTUNE</a>  <strong>#insane</strong> <strong>#jetlife</strong>
												</p>
												<div class="row-regular">
							                        <div class="col-sm-6 col-lg-8">
							                            <p class="text-left author ng-binding">09/21/2016 02:34am</p>
							                        </div>
							                        <div class="col-sm-6 col-lg-4">
							                        </div>
							                        <div class="clearfix"></div>
							                    </div>
											</div>
										</div>
									</div>
									<div class="element">
										<div class="row">
											<div class="col-lg-2">
												<div class="img-container">
													<img ng-src="/userpics/$default.png">
												</div>
											</div>
											<div class="col-lg-10">
												<p class="message ng-binding">
													<strong>$TBRA</strong> was a monster today with a +720% gain based on a buyout from <strong>$AGN</strong>  <a href="http://fortune.com/2016/09/20/allergan-tobira-deal/?xid=soc_socialflow_twitter_FORTUNE" target="_blank">http://fortune.com/2016/09/20/allergan-tobira-deal/?xid=soc_socialflow_twitter_FORTUNE</a>  <strong>#insane</strong> <strong>#jetlife</strong>
												</p>
												<div class="row-regular">
							                        <div class="col-sm-6 col-lg-8">
							                            <p class="text-left author ng-binding">09/21/2016 02:34am</p>
							                        </div>
							                        <div class="col-sm-6 col-lg-4">
							                        </div>
							                        <div class="clearfix"></div>
							                    </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-5 dashboard-element microblogs">
							<div class="microblogs-header"></div>
							<div class="pods-elements">
								<div class="col-lg-6">
									<div class="element-wrapper">
										<div class="element" ng-mouseenter="getHoveredObject(query)">
											<div class="row body">
												<div class="top-element">
													<div class="header">
														<h3 class="ng-binding">
															MER Telemanagement Solutions Ltd. (MTSL)
														</h3>
													</div>
													<div class="body">
														<div class="row">
															<div class="col-lg-4">
																<div class="profile">
																	<img alt="" ng-src="/userpics/$default.png" src="/userpics/$default.png">
																	<h5 class="ng-binding">supersayan</h5>
																</div>
															</div>
															<div class="col-lg-8">
																<div class="details">
																	<p>
																		<b class="ng-binding">MTSL</b> will be <img ng-src="assets/images/down.png" src="assets/images/down.png">	<b class="ng-binding">1-5%</b> from <b class="ng-binding">$1.3</b> during <b class="ng-binding">MORNING</b> on <b class="ng-binding">09/20/16</b>
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="footer">
													<table class="table">
														<tbody>
															<tr>
																<td>Created:<b class="ng-binding">09/19/2016 11:03pm</b></td>
															</tr>
															<tr><td>Realization: <b class="ng-binding">13.43 hours</b></td></tr>
															<tr>
																<td>Market Cap: <b class="ng-binding">nano</b></td>
															</tr>
															<tr>
																<td>Sector: <b class="ng-binding">unavailable</b></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="element-wrapper">
										<div class="element" ng-mouseenter="getHoveredObject(query)">
											<div class="row body">
												<div class="top-element">
													<div class="header">
														<h3 class="ng-binding">
															MER Telemanagement Solutions Ltd. (MTSL)
														</h3>
													</div>
													<div class="body">
														<div class="row">
															<div class="col-lg-4">
																<div class="profile">
																	<img alt="" ng-src="/userpics/$default.png" src="/userpics/$default.png">
																	<h5 class="ng-binding">supersayan</h5>
																</div>
															</div>
															<div class="col-lg-8">
																<div class="details">
																	<p>
																		<b class="ng-binding">MTSL</b> will be <img ng-src="assets/images/down.png" src="assets/images/down.png">	<b class="ng-binding">1-5%</b> from <b class="ng-binding">$1.3</b> during <b class="ng-binding">MORNING</b> on <b class="ng-binding">09/20/16</b>
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="footer">
													<table class="table">
														<tbody>
															<tr>
																<td>Created:<b class="ng-binding">09/19/2016 11:03pm</b></td>
															</tr>
															<tr><td>Realization: <b class="ng-binding">13.43 hours</b></td></tr>
															<tr>
																<td>Market Cap: <b class="ng-binding">nano</b></td>
															</tr>
															<tr>
																<td>Sector: <b class="ng-binding">unavailable</b></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="element-wrapper">
										<div class="element" ng-mouseenter="getHoveredObject(query)">
											<div class="row body">
												<div class="top-element">
													<div class="header">
														<h3 class="ng-binding">
															MER Telemanagement Solutions Ltd. (MTSL)
														</h3>
													</div>
													<div class="body">
														<div class="row">
															<div class="col-lg-4">
																<div class="profile">
																	<img alt="" ng-src="/userpics/$default.png" src="/userpics/$default.png">
																	<h5 class="ng-binding">supersayan</h5>
																</div>
															</div>
															<div class="col-lg-8">
																<div class="details">
																	<p>
																		<b class="ng-binding">MTSL</b> will be <img ng-src="assets/images/down.png" src="assets/images/down.png">	<b class="ng-binding">1-5%</b> from <b class="ng-binding">$1.3</b> during <b class="ng-binding">MORNING</b> on <b class="ng-binding">09/20/16</b>
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="footer">
													<table class="table">
														<tbody>
															<tr>
																<td>Created:<b class="ng-binding">09/19/2016 11:03pm</b></td>
															</tr>
															<tr><td>Realization: <b class="ng-binding">13.43 hours</b></td></tr>
															<tr>
																<td>Market Cap: <b class="ng-binding">nano</b></td>
															</tr>
															<tr>
																<td>Sector: <b class="ng-binding">unavailable</b></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="element-wrapper">
										<div class="element" ng-mouseenter="getHoveredObject(query)">
											<div class="row body">
												<div class="top-element">
													<div class="header">
														<h3 class="ng-binding">
															MER Telemanagement Solutions Ltd. (MTSL)
														</h3>
													</div>
													<div class="body">
														<div class="row">
															<div class="col-lg-4">
																<div class="profile">
																	<img alt="" ng-src="/userpics/$default.png" src="/userpics/$default.png">
																	<h5 class="ng-binding">supersayan</h5>
																</div>
															</div>
															<div class="col-lg-8">
																<div class="details">
																	<p>
																		<b class="ng-binding">MTSL</b> will be <img ng-src="assets/images/down.png" src="assets/images/down.png">	<b class="ng-binding">1-5%</b> from <b class="ng-binding">$1.3</b> during <b class="ng-binding">MORNING</b> on <b class="ng-binding">09/20/16</b>
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="footer">
													<table class="table">
														<tbody>
															<tr>
																<td>Created:<b class="ng-binding">09/19/2016 11:03pm</b></td>
															</tr>
															<tr><td>Realization: <b class="ng-binding">13.43 hours</b></td></tr>
															<tr>
																<td>Market Cap: <b class="ng-binding">nano</b></td>
															</tr>
															<tr>
																<td>Sector: <b class="ng-binding">unavailable</b></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="searchpods">
					Search Pods
				</div>
				<div class="tab-pane fade" id="mysubscription">
					My Subscription
				</div>
				<div class="tab-pane fade" id="myinfo">
					<div class="col-lg-3">
						<div class="user-info user-info-profile">
							<div class="dashboard-element">
								<div class="user-info-header">
									<img ng-src="/userpics/$default.png" alt="" src="/userpics/$default.png">
									<h2 class="ng-binding">my_name</h2>
									<h5>Total created pods: 6</h5>
									<h5>Total subscribers: 90</h5>
									<h5>Estimated monthly payout: $985</h5>
									<div class="btn-container">
										<button class="btn btn-primary">
											Update Personal Info
										</button>
									</div>
									<div class="btn-container">
										<button class="btn btn-primary">
											Update Payout Info
										</button>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>